<div class="ui modal" xmlns:lick="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <div class="header" lick:id="header-section">
        <div lick:id="content-block">Header placeholder</div>
    </div>
    <div class="content" lick:id="main-section">
        <div lick:id="content-block">Body placeholder</div>
    </div>
    <div class="actions" v-if="model.showActions">
        <div lick:id="actions-section" >
            <div lick:id="content-block">Actions placeholder</div>
        </div>
    </div>
</div>