.ui.list-item.card, .ui.cards>.list-item.card {
  transition: all 1s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
.ui.list-leave-active.card, .ui.cards>.list-leave-active.card {
  position: absolute;
}

#contacts-panel {
    width: 100%;
}

#contacts-page {
    margin-top: 5em;
}

#contacts-page .dimmable {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
    flex: 1;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}