<div class="ui form" xmlns:lick="http://www.w3.org/1999/xhtml">
    <div class="two fields">
        <div class="field">
            <label>Name</label>
            <input type="text" placeholder="Full Name" lick:id="name"/>
        </div>

        <div class="field">
            <label>Description</label>
            <input type="text" placeholder="Some description" lick:id="description"/>
        </div>
    </div>

    <div class="ui submit button" lick:id="add">
        Add one
    </div>
</div>