<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:lick="http://www.w3.org/1999/xhtml">
    <head>
        <title>Contacts Page</title>
    </head>
    <body>
        <div>
            <h1 class="ui center aligned header">Contacts list</h1>

            <div class="ui container" lick:id="contacts-panel">
                <ui-modal lick:id="form-modal">
                    <div class="ui form" lick:id="add-contact-form">
                        <div class="two fields">
                            <div class="field">
                                <label>Name</label>
                                <input type="text" placeholder="Full Name" lick:id="name"/>
                            </div>

                            <div class="field">
                                <label>Description</label>
                                <input type="text" placeholder="Some description" lick:id="description"/>
                            </div>
                        </div>

                        <div class="ui submit button" lick:id="add">
                            Add one
                        </div>
                    </div>
                </ui-modal>

                <div class="ui relaxed divided items">
                    <div class="item" lick:id="contact">
                        <div class="ui small image">
                            <!--<img src="assets/images/wireframe/image.png"></img>-->
                        </div>
                        <div class="content">
                            <a class="header" lick:id="name">Content Header</a>
                            <div class="meta">
                                <a lick:id="email">
                                    <span lick:id="email">
                                        some.email@domain.com
                                    </span>
                                </a>
                            </div>
                            <div class="description" lick:id="description">
                                A description which may flow for several lines and give context to the content.
                            </div>
                            <div class="extra">
                                <!--<img src="assets/images/wireframe/square-image.png" class="ui circular avatar image"/> Username-->
                            </div>
                        </div>
                    </div>
                </div>

                <button class="ui primary button" lick:id="reload">
                    Reload list model
                </button>
            </div>
        </div>
    </body>
</html>