<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:lick="http://www.licket.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Contacts Page</title>
    </head>
    <body>
        <div class="ui items" id="contacts-list">
            <div class="item">
                <a class="ui tiny image">
                    <img id="contact-picture-url"/>
                </a>
                <div class="content">
                    <a class="header" id="contact-name">Stevie Feliciano</a>
                    <div class="description" id="contact-description">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>