<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:lick="http://www.w3.org/1999/xhtml">
    <head>
        <title>Contacts Page</title>
    </head>
    <body>
        <div class="ui container">
            <h1 class="ui center aligned header">Contacts list</h1>

            <div class="ui grid">
                <div class="two column row">
                    <div class="left floated column">
                        <div class="ui container" lick:id="add-contact-panel">
                            <div class="ui submit button" lick:id="add-contact">
                                <i class="icon add"></i>
                                Add contact
                            </div>
                            <div lick:id="form-modal"></div>
                        </div>
                    </div>
                    <div class="right floated column">
                        <button class="ui primary right floated button" lick:id="reload">
                            Reload list model
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="ui container" lick:id="contacts-panel">
                        <div class="ui cards">
                            <div class="card" lick:id="contact">
                                <div class="content">
                                    <div class="header" lick:id="name">Person name</div>
                                    <div class="description" lick:id="description">
                                        A description which may flow for several lines and give context to the content.
                                    </div>
                                </div>
                                <div class="ui bottom attached button" lick:id="view-contact">
                                    <i class="search icon"></i>
                                    Contact details
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>