<div class="ui container" xmlns="http://www.w3.org/1999/xhtml" xmlns:lick="http://www.w3.org/1999/xhtml">
    <div class="ui very padded segment">
        <h2 class="ui header" lick:id="name">John Doe</h2>
        <p lick:id="description"></p>

        <p lick:id="content"></p>

        <div class="ui horizontal list">
            <div class="item" lick:id="email">
                <a href="#" lick:id="value">email@domain.com</a>
            </div>
        </div>

        <div class="ui right floated large buttons">
            <button class="ui labeled icon button" lick:id="rootLink">
                <i class="arrow left icon"></i>
                Back
            </button>
            <div class="or"></div>
            <button class="ui negative button" lick:id="deleteLink">
                Delete contact
            </button>
        </div>
    </div>
</div>