<div xmlns:lick="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <form lick:id="new-contact-form" class="ui form">
        <div class="two fields">
            <div class="field">
                <label>Name</label>
                <input type="text" placeholder="Full Name" lick:id="name" />
            </div>

            <div class="field">
                <label>Description</label>
                <input type="text" placeholder="Some description" lick:id="description" />
            </div>

            <div lick:id="email">
                <input type="text" lick:id="email" />
            </div>

            <div class="ui submit small button" lick:id="add_email">
                Add email
            </div>
        </div>

        <div class="ui submit button" lick:id="add">
            Add one
        </div>
    </form>
</div>