<div xmlns:lick="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <form lick:id="new-contact-form" class="ui form">
        <div class="two fields">
            <div class="field">
                <label>Name</label>
                <input type="text" placeholder="Full Name" lick:id="name" />
            </div>

            <div class="field">
                <label>Description</label>
                <input type="text" placeholder="Some description" lick:id="description" />
            </div>
        </div>

        <h4 class="ui dividing header">Emails</h4>

        <div class="ui grid">
            <div class="five wide column" lick:id="email">
                <div class="ui fluid icon input">
                    <input type="text" lick:id="value" />
                    <i class="inverted circular icon delete link" lick:id="delete_email"></i>
                </div>
            </div>
        </div>
    </form>
</div>